* {
    box-sizing: border-box;
}

body {
    background-color: #2d3450;
    color: azure;
    height: 100vh;
    gap: 100px;
    margin: 0;
    font-family: sans-serif;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 100%;
}

canvas {
    background: #fea;
    border-radius: 8px;
}

.control-unit {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.control-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #1e2438;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
}

input,
select {
    padding: 6px;
}

button {
    padding: 10px;
    border: none;
    background-color: #2ed573;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
}
